         
.login-modal-title{
   color:#339933; 
}


.modal-backdrop {
   z-index: 10000;        
}​

.modal {
   z-index: 20000;   
}
.pac-container {
   background-color: #FFF;
   z-index: 20000;
   position: fixed;
   display: inline-block;
}
